.vs/
*.vsidx
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build output directories
/bin/
/obj/
obj/
bin/


# Ignore user-specific project settings
*.csproj.user

# Ignore other common files
*.dll
*.exe
*.pdb
*.cache
*.json